.drumkit_background {
  background: linear-gradient(#c7c7c778, #726f6fab, transparent),
    url("../../assets/images/drum_kit_bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  //hide it for now
  display: none;

  .keys {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
    //auto-fit wrap columns into rows when there’s not enough space in our viewport to fit the 12rem minimum value without overflowing the content.
    //auto for max value is to set the column width based on the width set on its children
    row-gap: 3rem;
    justify-content: center;
  }

  .key {
    border: 0.2rem solid black;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0.5rem black;
    justify-self: center;
  }

  kbd {
    display: block;
    font-size: 4rem;
  }

  .playing {
    transform: scale(1.1);
    border-color: #fcb92f;
    box-shadow: 0 0 1rem #fcb92f;
  }

  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fcb92f;
  }
}
